// Global Styles:
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font: normal 125%/1.5 Roboto, RobotoDraft, 'Helvetica Neue', sans-serif;
  background-color: $body-bckg;
  counter-reset: item;    /* Initialize the 'item' counter to 0 */
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust:         100%;
}

main {
  @include fade(0.35s, 0s, ease-in-out, margin);
  position: relative;
  display: block;
  min-width: 90%;
  height: 100%;
  margin-left: 10vw;
}

aside {
  position: fixed;
  width: 10vw;
  height: 100%;
  top: 12.5vh;
  overflow: visible;
  z-index: 10;
}

a:focus,
a:target,
a:active,
a:visited {
  outline: none;
  text-decoration: none;
  color: initial;
}

fieldset { @include flex(flex, column, space-between, center); }

header {
  @extend %no-select;
  position: relative;
  height: 12.5vh;

  img[role='logo'] {
    height: 100%;
    display: inline-block;
    float: left;
  }
}

h1,
h2 {
  height: 5vh;
  margin: 0;
  text-align: center;
}
h3,
h4,
h5,
h6 { text-align: left; }

button {
  @extend %primaryBtn;
  width: 30%;
  height: 2rem;
  margin: 1rem auto;
  font: bolder 1.25rem/1 'Helvetica Neue', sans-serif;

  &:hover { @extend %primaryBtnInverted; }
  &:active,
  &:focus { outline: none; }
}

sup { text-decoration: underline solid $theme-content-dark; }

.midsection {
  @include flex(flex, row, space-between, center);
  width: 100vw;
  height: 87.5vh;
}

.shopping-cart {
  position: relative;
  display: inline-block;
  height: 8vh;
  right: 50px;
  top: 2.25vh;
  float: right;
  color: #FFF;
  cursor: pointer;
}

.spinner { @include center(all, absolute); }
