
// Sass Variables:
$borderColor: #010101;
$shadowColor: #0D0D0D;

// Sass Placeholders:
%boxShadow { @include cbBoxShadow(1px 1px 1px #000, 0 0 1px $shadowColor); }


%sliderThumb {
  @include cbBorderRadii(3px);
  @extend %boxShadow;
  width: 16px;
  height: 36px;
  border: 1px solid #000;
  background-color: #FFF;
}

%sliderTrack {
  @include cbBorderRadii(10px);
  @extend %boxShadow;
  height: 10px;
  background-color: $theme-primary;
  border: 0.2px solid $borderColor;
  cursor: pointer;
}


// Containing form element styles:
.slide-btn {
  @include center(horizontal, absolute);
  width: 65%;
  max-width: 100px;
  height: 40px;
  bottom: calc(12.5vh + 10px);
  margin: auto;
  font: bolder 2rem/1 'Arial', sans-serif;
  z-index: 1;

  > * {
    @include fade(0.35s, 0s, ease-in-out, left transform);
    transform-style: preserve-3d;
  }
  &.affixed {
    @include cbBoxShadow(
      0 -2px 12px 0.5px rgba(255, 255, 255, 0.6),
      2px 0 12px 0.5px rgba(255, 255, 255, 0.60)
    );
    left: 0;
    transform: none;

    > * { @include cbTransform(rotate(0.5turn)); }
    &:hover {
      background-color: #7A41B7;
      color: #FFF;
    }
  }
}

#sidebar {
  @include fade(0.35s, 0s, ease-in-out, width);
  @include flex(flex, column, space-around);
  position: fixed;
  width: 10vw;
  height: 87.5vh;
  overflow: hidden;

  form[name='grid-form'] {
    @include flex(flex, column);
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    bottom: 40px;

    fieldset {
      width: 5vw;
      height: 25vh;
      min-height: 250px;
      padding: 0;
      margin: auto;
      border: none;
      text-align: center;
    }
    output,
    label {
      display: block;

      > span {
        position: relative;
        display: block;
        top: -5px;
        font: 300 1rem/1 'Helvetica Neue', sans-serif;
      }
    }
    .output-wrapper {
      @include flex(flex, row, space-between);
      width: 75%;
      margin: auto;
    }
  }
}

// Style <input> elements of type `range`:
input[type='range'] {
  @include cbBorderRadii(10px);
  @include cbTransform(rotate(-270deg));
  height: 130px;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type='range']:focus { outline: none; }

// Special styling for WebKit/Blink
input[type='range']::-webkit-slider-thumb {
  @include cbBorderRadii(3px);
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  margin-top: -14px;  // Necessary margin specification for Chrome; automatic in Firefox & IE
  border: 1px solid #000;
  background-color: $theme-secondary;
  cursor: ns-resize, pointer;
}
// All the same stuff for Firefox
input[type='range']::-moz-range-thumb {
  @extend %sliderThumb;
  cursor: ns-resize, pointer;
}
// All the same stuff for IE
input[type='range']::-ms-thumb {
  @extend %sliderThumb;
  cursor: ns-resize, pointer;
}

// Styling the slider track:
input[type='range']::-webkit-slider-runnable-track {
  @include cbBorderRadii(10px);
  @extend %sliderTrack;
  height: 10px;
  background: $theme-primary;
}
input[type='range']:focus::-webkit-slider-runnable-track { background-color: $theme-primary-focus; }
input[type='range']::-moz-range-track { @extend %sliderTrack; }
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  background-color: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  cursor: pointer;
}

input[type='range']::-ms-fill-lower {
  @include cbBorderRadii(2.6px);
  @extend %boxShadow;
  background-color: $theme-primary;
  border: 0.2px solid $borderColor;
}
input[type='range']:focus::-ms-fill-lower {
  background-color: $theme-primary;
  outline: none;
}
input[type='range']::-ms-fill-upper {
  @include cbBorderRadii(2.6px);
  @extend %boxShadow;
  background-color: $theme-primary;
  border: 0.2px solid $borderColor;
}
input[type='range']:focus::-ms-fill-upper {
  background-color: $theme-primary;
  outline: none;
  border: none;
}
