.perfect-grid {
  position: relative;
  display: flex;
  width: 100%;
  // max-width: 100%;
  box-sizing: border-box;
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  //flex-direction: column;

  *,
  *:before,
  *:after { box-sizing: inherit; }


  &__link { cursor: pointer; }

  &__rows { display: flex; }

  &__row {
    display: inline-flex;
    flex-wrap: wrap;
  }

  // &__over {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 2;
  // }

  &__item {
    position: relative;
    display: flex;
    overflow: hidden;

    > * {
      // position: absolute;
      z-index: 2;
    }
  }

  &__media {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;

    img,
    video {
      position: relative;
      display: block;
      height: 100%;
      background-color: transparent;
      z-index: 1;
    }
  }
}
