// Global Styles:
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font: normal 125%/1.5 'Helvetica Neue', sans-serif;
  background-color: $body-bckg;
  overflow-x: hidden;
}

main {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  margin: 0 0 0 10vw;
}

fieldset {
  @include flex(flex, column, space-between, center);
}

header {
  position: relative;
  height: 12.5vh;

  img[role='logo'] {
    height: 100%;
    display: inline-block;
    float: left;
  }
}

h1,
h2 {
  height: 5vh;
  margin: 0;
  text-align: center;
}
h3,
h4,
h5,
h6 { text-align: left; }

button {
  @include fade(0.25s, ease-in-out);
  @include cbBorderRadii(4px);
  width: 30%;
  height: 2rem;
  margin: 1rem auto;
  border: none;
  color: #FFF;
  background-color: $theme-primary;
  font: bolder 1.25rem/1 'Helvetica Neue', sans-serif;
  cursor: pointer;

  &:hover {
    color: $theme-primary;
    background-color: #FFF;
    -webkit-box-shadow: 0 6px 13px 2px #A5A5A5;
    -moz-box-shadow:    0 6px 13px 2px #A5A5A5;
    box-shadow:         0 6px 13px 2px #A5A5A5;
  }
}

sup { text-decoration: underline solid #000; }

.midsection {
  @include flex(flex, row, space-between, center);
  width: 100vw;
  height: 87.5vh;
}

.spinner { @include align(all, absolute); }
