// Global Styles:
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  margin: 0;
  font: normal 125%/1.5 'Helvetica Neue', sans-serif;
  background-color: $body-bckg;
  overflow-x: hidden;
}

main {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  margin: 0 0 0 10vw;
}

fieldset {
  @include flex(flex, column, space-between, center);
}

header {
  position: relative;
  height: 12.5vh;

  img[role='logo'] {
    height: 100%;
    display: inline-block;
    float: left;
  }
}

sup { text-decoration: underline solid #000; }

.midsection {
  @include flex(flex, row, space-between, center);
  width: 100vw;
  height: 87.5vh;
}

.txt-of {
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
}

.spinner {
  @include align(all, absolute);
}
