
#close-modal-btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: -2rem;
  top: -2rem;
  font: bolder 4rem/1 Arial;
  background-color: $theme-primary;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.ReactModal__Content h3 {
  height: 5vh;
  text-align: center;
}

.empty-order { height: 55vh; }

#orders-list {
  height: 55vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;

  h3 { text-align: left; }
  h4 {
    margin: 0;
    padding: 0 0 0.75rem 0;
  }
  > li {
    padding: 1rem 0.5rem 1.5rem 0.5rem;

    &:nth-of-type(odd) { background-color: #E8E8E8; }
  }
}

.product-item {
  position: relative;

  > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    > *:first-child { margin: 0 0 0 3rem; }
    > *:last-child { margin: 0 3rem 0 0; }

    img {
      width: auto;
      min-width: 75px;
      max-width: 30%;
      height: auto;
      min-height: 50px;
      max-height: 100px;
      outline: 5px inset Gold;
      outline-offset: 5px;
    }
  }

  .size {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    input {
      width: 50px;
      text-align: center;
      font: bold 1rem/1 'inherit';
      
      &:disabled { color: Gainsboro; }
    }

    output {
      position: absolute;
      left: calc(100% + 7.5px);
    }
  }
}
