
// Trash Bin Glyph Icon:
.trashcan-glyph {
  position: absolute;
  width: 2rem;
  right: 1rem;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

&:hover .trashcan-glyph {
  opacity: 1;
  visibility: visible;
}

// Check Mark Glyph Icon
.grid-item {
  .checkbox {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }

  .checkbox-glyph {
    width: auto;
    height: inherit;
    fill: #FFF;
    opacity: 1;
    fill-opacity: 0;
    -webkit-transition: all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-transition:    all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);
    -ms-transition:     all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);
    -o-transition:      all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition:         all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);

    &:hover { fill-opacity: 1 !important; }
  }

  &.checked {
    background-color: #CCC;

    .checkbox { background-color: #FFF; }
    .grid-media {
      margin: auto;
      -webkit-transform: translateZ(0) scale3d(0.89, 0.85, 1);
      -moz-transform:    translateZ(0) scale3d(0.89, 0.85, 1);
      -ms-transform:     translateZ(0) scale3d(0.89, 0.85, 1);
      -o-transform:      translateZ(0) scale3d(0.89, 0.85, 1);
      transform:         translateZ(0) scale3d(0.89, 0.85, 1);
    }
    &:hover .checkbox-glyph { fill-opacity: 1; }
    .checkbox-glyph {
      fill: #9651DF;
      fill-opacity: 1;
    }
  }

  &:hover .checkbox-glyph { fill-opacity: 0.54; }
}

// Shopping Cart Glyph Icon:
.shopping-cart {
  position: relative;
  display: inline-block;
  height: 8vh;
  right: 50px;
  top: 2.25vh;
  float: right;
  color: #FFF;
  
  svg {
    position: relative;
    width: auto;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: inherit;
    font: bolder 1.25rem/1.5 Arial, sans-serif;
    background-color: #9651DF;
    text-align: center;
  }
}

[data-section='cart-contents'] path {  
  opacity: 1;
  fill: #000;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: square;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;

  &:first-child { stroke-width: 2.4000001; }
}

[data-section='underrack'] path {
  fill: none;
  fill-rule: evenodd;
  stroke: #000;
  stroke-width: 7.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.shopping-cart-glyph ellipse {
  opacity: 1;
  fill: #000;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #DE2626;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 0.80861248;
}

// Image placeholder glyph:
.image-placeholder-glyph {
  opacity: 1;
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #D0D0D0;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
