
// Sass Variables:
$theme-primary: #9651DF;
$theme-secondary: #C9B131;
$theme-disabled: Gainsboro;
$theme-primary-focus: #8C44D8;
$theme-content-dark: #212121;
$theme-content-light: #F2EFF4;
$theme-content-fade-primary: rgba(150, 81, 223, 0.44);
$theme-content-fade-dark: rgba(0, 0, 0, 0.54);
$body-bckg: #DFE7EE;
$borderColor: #010101;
$shadowColor: #0D0D0D;
$shadowEmphasis: #C1C1C1;


// Sass mixin declarations:
@mixin center($dir: vertical, $pos: relative) {
  $sides: top;
  $translation: translateY(-50%);

  @if $dir == vertical {
    $sides: top;
    $translation: translateY(-50%);
  } @else if $dir == horizontal {
    $sides: left;
    $translation: translateX(-50%);
  } @else if $dir == all {
    $sides: top left;
    $translation: translate(-50%, -50%);
  }

  @each $side in $sides {
    #{$side}: 50%;
  }

  position: $pos;
  -webkit-transform: $translation;
  -moz-transform:    $translation;
  -ms-transform:     $translation;
  -o-transform:      $translation;
  transform:         $translation;
}

@mixin fade($duration: 0.135s, $delay: 0s, $easingFunc: cubic-bezier(0.0, 0.0, 0.2, 1), $properties: all) {
  $shorthand: '';
  $timing-func: '#{$duration} #{$delay} #{$easingFunc}';

  @each $property in $properties {
    @if index($properties, $property) < length($properties) {
      $shorthand: '#{$shorthand} #{$property} #{$timing-func}, ';
    } @else {
      $shorthand: '#{$shorthand} #{$property} #{$timing-func}';
    }
  }

  -webkit-transition: unquote($shorthand);
  -moz-transition:    unquote($shorthand);
  -ms-transition:     unquote($shorthand);
  -o-transition:      unquote($shorthand);
  transition:         unquote($shorthand);
}

@mixin flex($display: flex, $dir: row, $justify: space-around, $items: initial, $wrap: nowrap) {
  position: relative;
  display: $display;
  flex-flow: $dir $wrap;
  justify-content: $justify;
  align-items: $items;
}

@mixin svgBase($strokeWidth: 4, $stroke: $theme-content-dark, $strokeOpacity: 1, $fill: $theme-content-dark, $fillOpacity: 1) {
  opacity: 1;
  fill: $fill;
  fill-opacity: $fillOpacity;
  fill-rule: nonzero;
  stroke: $stroke;
  stroke-opacity: $strokeOpacity;
  stroke-width: $strokeWidth;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;  
  stroke-dasharray: none;
  stroke-dashoffset: 0;
}

@mixin cbTransform($transforms...) {
  -webkit-transform: $transforms;
  -moz-transform:    $transforms;
  -ms-transform:     $transforms;
  -o-transform:      $transforms;
  transform:         $transforms;
}

@mixin cbBorderRadii($radius: 0) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin cbBoxShadow($shadows...) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow:    $shadows;
  box-shadow:         $shadows;
}


// Sass placeholders declarations:
%vAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}

%hAlign {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform:    translateX(-50%);
  -ms-transform:     translateX(-50%);
  -o-transform:      translateX(-50%);
  transform:         translateX(-50%);
}

%alignAll {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform:    translate(-50%, -50%);
  -ms-transform:     translate(-50%, -50%);
  -o-transform:      translate(-50%, -50%);
  transform:         translate(-50%, -50%);
}

%primaryBtn {
  @include fade(0.25s, 0s, ease-in-out);
  @include cbBorderRadii(4px);
  border: none;
  font: bolder 4rem/1 Arial, sans-serif;
  background-color: $theme-primary;
  color: $theme-content-light;
  text-align: center;
  cursor: pointer;
}

%primaryBtnInverted {
  @include cbBoxShadow(0 6px 13px 2px #A5A5A5);
  background-color: $theme-content-light;
  color: $theme-primary;
}

%br-circle {
  @include cbBorderRadii(50%);
}

%txt-of {
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
}

%visible {
  visibility: visible;
  opacity: 1;
}

%hidden {
  visibility: hidden;
  opacity: 0;
}

%no-select {
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  -o-user-select:        none;
  user-select:           none;
  -ms-pointer-events: visiblePainted;
  pointer-events:     visiblePainted;
}



// Import Sass partials:
@import './partials/main';       // Styles for classless HTML elements
@import './partials/sliders';    // Styles for range input sliders
@import './partials/svg-icons';  // Styles for inline SVG icons
@import './partials/grid';       // Styles for photo grid
@import './partials/modal';      // Styles for OrderFormModal component
@import './partials/scrollbar';  // Styles for scrollbar
