


* { -webkit-tap-highlight-color: transparent; }





@function get-tilted-height($angle) {
  $a: (100% / 1%);
  $A: (90deg - $angle);
  $c: ($a / sin($A));
  $b: sqrt(pow($c, 2) - pow($a, 2));

  @return (abs($b) * 1%);
}

@mixin tilted($angle, $color, $position: 'top', $pseudo: 'before') {
  $height: get-tilted-height($angle);

  position: relative;
  background-color: $color;

  &::#{$pseudo} {
    content: '';
    padding-top: $height;
    position: absolute;
    left: 0;
    right: 0;

    @if ($position == 'top') {
      bottom: 100%;
      background-image: linear-gradient($angle, $color 50%, transparent 50%);
    } @else {
      top: 100%;
      background-image: linear-gradient($angle, transparent 50%, $color 50%);
    }
  }
}

/*
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
z-index: 10;
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent);
background-image: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent);
*/



body {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: flex-end;
  line-height: 1.5;
  font-size: 125%;
  background-color: rgb(223, 231, 238);
  overflow-x: hidden;
}

.perfect-grid {
  height: 100%;
}

.perfect-grid__media {
  position: relative;
  display: inline-block;
  
  margin: 0 12px 12px 0;
  // padding-top: 0px;
  // padding-bottom: 0px;
  vertical-align: top;
  -webkit-transition: -webkit-transform .135s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform .135s cubic-bezier(0, 0, 0.2, 1);
  transition:         transform .135s cubic-bezier(0, 0, 0.2, 1);
  overflow: hidden;
  z-index: 1;
  
  &:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent 56px, transparent);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent 56px, transparent);
    -webkit-transition: opacity 0.35s cubic-bezier(0, 0, 0.2, 1);
    transition:         opacity 0.35s cubic-bezier(0, 0, 0.2, 1);
    z-index: 2;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    position: absolute;
    content: 'Res. ' attr(data-dims) ' - ' attr(data-domain);
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(102, 102, 102, 0.73);
    color: #FFF;
    font: 200 0.85rem 'Helvetica Neue', sans-serif;
    text-indent: 0.75rem;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -ms-transition:     all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
  }

  &:hover:after {
    height: 20px;
    z-index: 1;
  }

  img {
    position: relative;
    height: 100%;
  }
}


main {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  margin: 0 0 0 10vw;
  
  // @include tilted(3deg, rgb(255, 255, 255));
  // padding: 0 1em;
  // max-width: 90%;
  // margin: 0 auto;
  // filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.1));
}

form[name='grid-form'] {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  height: 87.5vh;
  -ms-flex-flow: column nowrap;
  flex-flow:     column nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  fieldset {
    width: 5vw;
    height: 25vh;
    min-height: 250px;
    padding: 0;
    margin: auto;
    border: none;
    text-align: center;
  }

  output,
  label {
    display: block;
  }

  .output-wrapper {
    position: relative;
    display: flex;
    width: 75%;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}


.midsection {
  position: relative;
  display: flex;
  width: 100vw;
  height: 87.5vh;
  flex-flow: row nowrap;
}

fieldset {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.perfect-grid__item {
  display: block;

  .checkbox {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0.5rem;
    fill: #FFF;
    cursor: pointer;
    z-index: 2;
  }

  .checkbox-glyph {
    width: auto;
    height: inherit;
    fill: #FFF;
    opacity: 1;
    fill-opacity: 0;
    -webkit-transition: all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition:         all 0.135s cubic-bezier(0.0, 0.0, 0.2, 1);
    -webkit-transition-property: opacity, fill-opacity;
    transition-property:         opacity, fill-opacity;

    &:hover {
      fill-opacity: 1 !important;
    }
  }

  &.checked {
    background-color: #CCC;

    .perfect-grid__media {
      margin: auto;
      -webkit-transform: translateZ(0) scale3d(0.89, 0.85, 1);
      -moz-transform:    translateZ(0) scale3d(0.89, 0.85, 1);
      -ms-transform:     translateZ(0) scale3d(0.89, 0.85, 1);
      -o-transform:      translateZ(0) scale3d(0.89, 0.85, 1);
      transform:         translateZ(0) scale3d(0.89, 0.85, 1);
    }

    .checkbox-glyph {
      fill: #9651DF;
      fill-opacity: 1;
    }
  }


  &:hover .checkbox-glyph {
    fill-opacity: 0.54;
  }
}

#close-modal-btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: -2rem;
  top: -2rem;
  font: bolder 4rem/1 Arial;
  background-color: #9651DF;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.ReactModal__Content h3 {
  height: 5vh;
  text-align: center;
}

#orders-list {
  height: 50vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;

  h3 {
    text-align: left;
  }

  h4 {
    margin: 0;
    padding: 0 0 0.75rem 0;
  }

  > li {
    padding: 1rem 0.5rem 1.5rem 0.5rem;

    &:nth-of-type(odd) {
      background-color: #E8E8E8;
    }
  }
}

header {
  position: relative;
  height: 12.5vh;

  img[role='logo'] {
    height: 100%;
    display: inline-block;
    float: left;
  }
}


.txt-of {
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
}

#add-to-cart-btn {
  position: relative;
  display: block;
  width: calc(100% - 58px);
  height: 0;
  left: 15px;
  top: 0;
  padding: 0;
  border: none;
  text-align: center;
  background-color: #9651DF;
  color: #FFF;
  font: normal small-caps bold ultra-expanded 2rem/1 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 1px;
  transition: all .25s ease-in-out;

  &.active {
    height: 50px;
    
    &:hover {
      background-color: #8033D1;
      -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24),
                          0 4px 20px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow:    0 10px 10px 0 rgba(0, 0, 0, 0.24),
                          0 4px 20px 0 rgba(0, 0, 0, 0.35);
      box-shadow:         0 10px 10px 0 rgba(0, 0, 0, 0.24),
                          0 4px 20px 0 rgba(0, 0, 0, 0.35);
    }
  }
}

.grid-wrap {
  position: relative;
  height: calc(100% - 57.5px);
  top: 20px;
  overflow-y: scroll;
}

.shopping-cart {
  position: relative;
  display: inline-block;
  height: 8vh;
  right: 50px;
  top: 2.25vh;
  float: right;
  color: #FFF;
  
  #shopping-cart-icon {
    height: 100%;
    margin: auto;
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: inherit;
    font: bolder 1.25rem/1.5 Arial, sans-serif;
    background-color: #9651DF;
    text-align: center;
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-item {
  position: relative;

  > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    > *:first-child { margin: 0 0 0 3rem; }
    > *:last-child { margin: 0 3rem 0 0; }

    img {
      width: auto;
      min-width: 75px;
      max-width: 30%;
      height: auto;
      min-height: 50px;
      max-height: 100px;
      outline: 5px inset Gold;
      outline-offset: 5px;
    }
  }

  .trashcan-glyph {
    position: absolute;
    width: 2rem;
    right: 1rem;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
  }

  &:hover .trashcan-glyph {
    opacity: 1;
    visibility: visible;
  }

  .size {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    input {
      width: 50px;
      text-align: center;
      font: bold 1rem/1 'inherit';
      
      &:disabled {
        color: Gainsboro;
      }
    }

    output {
      position: absolute;
      left: calc(100% + 7.5px);
    }
  }
}

sup {
  text-decoration: underline solid #000;
}


// Style <input> Elements of Type `range`:
input[type='range'] {
  -webkit-appearance: none;
  -webkit-transform: rotate(-270deg);
  -moz-transform:    rotate(-270deg);
  -ms-transform:     rotate(-270deg);
  -o-transform:      rotate(-270deg);
  transform:         rotate(-270deg);
}

// .vrange {
//   margin-top: 50px;
//   // -webkit-appearance: slider-vertical;

//   // -webkit-transform: rotate(270deg);
//   // -moz-transform:    rotate(270deg);
//   // -ms-transform:     rotate(270deg);
//   // -o-transform:      rotate(270deg);
//   // transform:         rotate(270deg);
// }


// input[type='range']::-webkit-slider-runnable-track {
//   width: 5px;
//   height: 300px;
//   background: #DDD;
//   border: none;
//   border-radius: 3px;
// }

// input[type='range']::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: 16px;
//   height: 16px;
//   margin-top: -4px;
//   border: none;
//   border-radius: 50%;
//   background: Goldenrod;
// }

// input[type='range']:focus {
//   outline: none;
// }

// input[type='range']:focus::-webkit-slider-runnable-track {
//   background: #CCC;
// }


/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: Gold;  // #FFF;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #FFF;
  cursor: grab;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #FFF;
  cursor: pointer;
}



// Styling the runnable-track:
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D;
  background: #9651DF;  // #3071A9; (Blue)
  border-radius: 10px;
  border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #9651DF;  // #367EBD; (Lighter Blue)
  // border: none;
  outline: none;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D;
  background: #9651DF;  // #3071A9; (Blue)
  border-radius: 2px;
  border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #9651DF;  // #2A6495; (Blue)
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D;
}
input[type='range']:focus::-ms-fill-lower {
  background: #9651DF;  // #3071A9; (Blue)
  // border: none;
  outline: none;
}
input[type='range']::-ms-fill-upper {
  background: #9651DF;  // #3071A9; (Blue)
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000,
              0 0 1px #0D0D0D;
}
input[type='range']:focus::-ms-fill-upper {
  background: #9651DF;  // #367EBD; (Lighter Blue)
  outline: none;
  border: none;
}

input[type='range']:focus {
  outline: none;
}
