
.thumb {
  position: relative;
  display: inline-block;
  // width: 212px;
  max-height: 200px;
  
  margin: 0 12px 12px 0;
  // padding-top: 0px;
  // padding-bottom: 0px;
  overflow: hidden;
  vertical-align: top;
  z-index: 1;
  
  img {
    position: relative;
    height: 100%;
  }
}
